* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(135deg, #f8f6f3, #e8e4dd);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
    }

    .card {
        background: white;
        padding: 50px;
        border-radius: 20px;
        width: 400px;
        box-shadow: 0 20px 40px rgba(0,0,0,0.1);
        text-align: center;
        animation: fadeIn 1s ease;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        margin-bottom: 10px;
        font-size: 28px;
    }

    input, select {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        font-size: 14px;
        transition: 0.3s;
    }

    input:focus, select:focus {
        outline: none;
        border-color: #b89c5c;
        box-shadow: 0 0 5px rgba(184,156,92,0.3);
    }

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 20px;
}

    .checkbox-container input {
        width: auto;
        margin: 0;
    }

    .checkbox-container label {
    margin: 0;
    cursor: pointer;
}

    #guestCount {
        display: none;
        transition: 0.3s;
    }

    button {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 10px;
        background-color: #b89c5c;
        color: white;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #a4874c;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px);}
        to { opacity: 1; transform: translateY(0);}
    }

    .logo {
    width: 150px;
    margin-bottom: 15px;
}

.club-name {
    font-size: 14px;
    letter-spacing: 2px;
    color: #b89c5c;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card {
    background: white;
    padding: 50px 40px;
    border-radius: 20px;
    width: 420px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.08);
    text-align: center;
    animation: fadeIn 1s ease;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #b89c5c;
    border-radius: 0 0 4px 4px;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 26px;
}

p {
    font-weight: 300;
    margin-bottom: 30px;
    color: #777;
}

.info-extra {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-size: 14px;
}

.importante {
    color: black;
    font-weight: 500;
}